<!DOCTYPE html>
<html xmlns:layout="http:www.w3.org/1999/xhtml"
	layout:decorate="~{cliente/fragments/layout}" lang="pt-br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Início</title>

<script src="../static/js/modal.js"></script>
<script type="text/javascript">
                document.addEventListener("mousemove", parallax);

                function parallax(e) {
                    this.querySelectorAll('.layer').forEach(layer => {
                        const speed = layer.getAttribute('data-speed')

                        const x = (window.innerWidth - e.pageX * speed) / 30
                        const y = (window.innerHeight - e.pageY * speed) / 30

                        layer.style.transform = `translateX(${x}px) translateY(${y}px)`
                    })
                }

                document.addEventListener("mousemove", parallax);


            </script>

	

</head>

<body onload="abrirModal()" >
	
	<section  >
		<div class="container" layout:fragment="corpo" >
		
			<div class="row ">
				<div class="col-md ">
					<h1 class="display-3 font-vw">Você merece produtos de
						qualidade!</h1>
				</div>

			</div>
			<div class="row  mt-4 mb-4 ">
				<div class="col-md-6 text-left">
					<img src="images/store.jpg" alt="" width="90%">
				</div>
				<div class="col-md-6 text-right">
					<div>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book. It
						has survived not only five centuries, but also the leap into
						electronic typesetting, remaining essentially unchanged. It was
						popularised in the 1960s with the release of Letraset sheets
						containing Lorem Ipsum passages, and more recently with desktop
						publishing software like Aldus PageMaker including versions of
						Lorem Ipsum</div>
				</div>

			</div>

			<div class="row ">
				<div class="col-md-6 text-left ">
					<div>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book. It
						has survived not only five centuries, but also the leap into
						electronic typesetting, remaining essentially unchanged. It was
						popularised in the 1960s with the release of Letraset sheets
						containing Lorem Ipsum passages, and more recently with desktop
						publishing software like Aldus PageMaker including versions of
						Lorem Ipsum</div>
				</div>
				<div class="col-md-6 text-right">
					<img src="images/store.jpg" alt="" width="70%">
				</div>
			</div>
			<section id="parallax">
				<img src="media/parallax_images/damascus.png" class="layer"
					data-speed="3" alt=""> <img
					src="media/parallax_images/prune.png" class="layer" data-speed="-3"
					alt=""> <img src="media/parallax_images/almond.png"
					class="layer " data-speed="6" alt="">
				<h2 class="layer" data-speed="2">
					É um prazer para nós <span style="color: #3C3B3B;">CULTIV</span> te
					ter como cliente!
				</h2>


			</section>
			<!--label-->
			<div class="scrolling_down animation">
				<img src="media/parallax_images/icon_scroll_down.png"
					class="img-fluid" alt="">
			</div>
			
			<section>		
				<div class="row">
					<div class="col-md display-4">Venha nos fazer uma visita !</div>

				</div>
				<div class="row">
					<div class="col-md-6 mt-auto mb-auto">
						<h3>Horários de Funcionamento:</h3>

						<p>Segunda a Sexta: 09:00 às 17:45</p>
						<p>Sáb e Feriados: 09:00 às 14:00</p>
						<p>
							Delivery: <span class="btn btn-success ml-4">Consultar</span>
						</p>

					</div>
					<div class="col-md-6 text-right mt-auto mb-auto">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14667.76921256353!2d-47.2933632!3d-23.2087732!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8800883ef65b484f!2sCultiv!5e0!3m2!1spt-BR!2sbr!4v1628559018679!5m2!1spt-BR!2sbr"
							width="90%" height="300px" style="border: 0;" allowfullscreen=""
							loading="lazy"></iframe>
					</div>

				</div>

			</section>
			
		</div>







		
		<!--footer-->
	</section>
	
	<p class="text-center">Todos os direitos reservados para Bryan.
		Criado 08/2021</p>



	
</body>

</html>