@import url(login.css);

.headerForm{
    padding: 8px;
    color: #fff;
    background-color: #2AFF16;
    border-radius: 10px;
    margin-bottom: 35px;
}

.headerForm:hover{
    color: #696469;
    background-color: #fff;
    transition: ease 0.5s;
}

.Valida{
    background-color: #2AFF16;
    border-radius: 6px;
    color: #fff;
    padding: 5px;

}

.Valida:hover{
    color: #696469;
    background-color: #fff;
    transition: ease 0.5s;
    border: 1px #696469 solid;
    border-radius: 6px;
   
    font-weight: 800;
    padding: 5px;

}

.form-control:focus {
    border-color: #2AFF16;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 136, 7, 0.6);
  }