<!DOCTYPE html>
<html xmlns:layout="http:www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fale Conosco</title>

   

</head>


<body>


        <!--Sobre nós-->
        <section>
            <div class="container" layout:fragment="corpo">
                <div class="row">
                    <h2 class="display-2">Contatos</h2>
                    <hr>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 ">
                        <h2>Deixe-nos uma mensagem:</h2>

                        <form action="" method="POST">
                            <div class="form-group">
                                <label for="name">Digite o seu nome</label>
                                <input class="form-control" type="text" name="name" id="name" placeholder="Digite seu nome">
                            </div>
                            <div class="form-group">
                                <label for="email">Digite o seu e-mail</label>
                                <input class="form-control" type="email" name="email" id="email" placeholder="exemplo@exemplo.com">
                            </div>
                            <div class="form-group">
                                <label for="assunto">Digite o assunto</label>
                                <input class="form-control" type="text" name="assunto" id="assunto" placeholder="Ex: ''Elogio a loja''">
                            </div>
                            <div class="form-group">
                                <label for="mensagem">Mensagem</label>
                                <textarea class="form-control" name="mensagem" id="mensagem" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Enviar</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h2>Fale conosco também:</h2>
                        <i class="fas fa-phone"></i><span class="mr-2">+55 11 95617-4791</span>
                        <br>
                        <i class="fas fa-at"></i><span class="mr-2">cultiv.granelnaturais@gmail.com</span>
                        <div class="row m-4 p-4">
                            <h2 class="display-4">Gratidão por tudo!</h2>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!--footer-->
        <footer>

            <div class="p-4 ">
                <div class="row">
                    <div class="col-md-1 text-left">
                        <img src="../images/cultiv.pequeno.png" alt="" class="sizinhg_brand">
                    </div>
    
                    <div class="col-md-5">
                        <h3 class="ml-4">Mapa do site</h3>
                        <nav class="navbar navbar-expand-lg ml-4">
                            <ul class="remove">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Início</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/sobreNos" class="nav-link">Sobre Nós</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/produtos" class="nav-link">Produtos</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/entrar" class="nav-link">Área de Membro</a>
                                </li>
    
                            </ul>
                        </nav>
                    </div>
    
                    <div class="col-md-5">
                        <h3>Redes Sociais</h3>
                        <nav class="navbar navbar-expand-lg ">
                            <ul class="nav ml-0">
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="fab fa-facebook fa-2x"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="fab fa-instagram fa-2x "></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="fab fa-whatsapp fa-2x "></i>
                                    </a>
                                </li>
                                <!--
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fab fa-facebook-square fa-2x text-white"></i>
                            </a>
                        </li>
                        -->
                            </ul>
                        </nav>
                        <div class="row">
                            <div class="col-md">
                                <h3>Contatos</h3>
                                <nav class="navbar navbar-expand-lg">
                                    <ul class="remove">
                                        <li class="nav-item">
                                            <a href="/contatos" class="nav-link">Fale Conosco</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">FAQ</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </footer>
        <p class="text-center">Todos os direitos reservados para Bryan. Criado 08/2021</p>

        <!--JS and Jquery-->
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
</body>

</html>