<!DOCTYPE html>
<html xmlns:layout="http:www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}" lang="pt-br">
    <title>Sobre Nós</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>


<body>


        <!--Sobre nós-->
        <div class="container" layout:fragment="corpo">
        <section>
            
                <div class="row">
                    <h2 class="display-2">Sobre nós</h2>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center mt-4 mb-4">
                        <img src="../images/cultiv.pequeno.png" alt="" class="">
                    </div>
                    <div class="col-md-6 text-center mt-4 mb-4">
                        <p class="text-justify ">Somos um lar comercial, que vem para mudar os conceitos de boa
                            alimentação e saúde, seremos a ponte e aliados neste caminho, - com serviços via loja
                            física, encomenda e delivery - proporcionando aos clientes praticidade, otimização de seu
                            tempo e produtos de qualidade. Levamos ao cliente um pedacinho da roça e que tem como
                            premissa valores de cultivo e na produção. E assim, aproximando as pessoas e o reviver do
                            ato de amar que é cozinhar.</p>
                    </div>


                </div>
            
        </section>
        <!--Lema-->
        <section>
            <div class="container text-center">
                <div class="row">
                    <h2 class="display-2 ml-auto">Nosso Lema</h2>
                    <hr>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <i class="fas fa-bullseye fa-5x"></i>
                        <h2>Missão</h2>
                        <p>Propagar o consumo + alimentos naturais + qualidade vida + saúde < impacto ao meio
                                ambiente.</p>

                    </div>
                    <div class="col-md-4">
                        <i class="far fa-eye fa-5x"></i>
                        <h2>Visão</h2>
                        <p>Transformar vidas, rumo a hábitos mais saudáveis e conscientes. Inspirando e disseminando o
                            cuidado de si e do ecossistema.</p>

                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-heart fa-5x"></i>
                        <h2>Valores</h2>
                        <ul class="remove">
                            <li>*Amar o que se faz;</li>
                            <li>*Sede de Saber(conhecimento do produto e negócio);</li>
                            <li>*Acreditar em todas as possibilidades;</li>
                            <li>*Melhoria contínua;</li>
                            <li>*Respeitar tudo e a todos;</li>
                            <li>*Nosso cliente é nosso pilar.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>

        <!--Colaboradores-->
        <section class="">
            <div class="container">
                <div class="row">
                    <h2 class="display-2">Colaboradores</h2>
                    <hr>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 text-center">
                        <h2>Ivanildo</h2>
                        <h3>Sócio</h3>
                        <hr class="mb-2">
                        <img src="../images/ivanildo.jpg" alt="" class="" width="320">
                    </div>
                    <div class="col-md-6 text-center">
                        <h2>Nayane</h2>
                        <h3>Proprietária</h3>
                        <hr class="mb-2">
                        <img src="../images/nayane.jpg" alt="" class="" width="320">
                    </div>
                </div>
                <div class="row mt-4">
                    <p class="text-center ml-auto mr-auto">Desde então nossa jornada foi de constantes alegrias e
                        dedicação</p>


                </div>
                <div class="row ">
                    <i class="fas fa-arrow-circle-down fa-3x ml-auto mr-auto mt-4"></i>
                </div>

            </div>
        </section>
        <!--Nossa caminhada -->
        <section>
            
            <div class="container1">
                
                <div class="timeline">
                    <ul>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date">Data: 03 abr 2021</h3>
                                <h1>Title 1</h1>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima tenetur consequuntur
                                    voluptas perspiciatis repudiandae voluptatibus obcaecati dolorem optio laborum
                                    neque.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date">Data: 03 abr 2021</h3>
                                <h1>Title 2</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci qui sed nisi
                                    commodi
                                    officia consequuntur aliquam tenetur quidem quam corporis.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date">Data: 03 abr 2021</h3>
                                <h1>Title 3</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus id reiciendis
                                    minima
                                    amet
                                    voluptatum totam? Enim culpa ea provident eius!</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date">Data: 03 abr 2021</h3>
                                <h1>Title 4</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus id reiciendis
                                    minima
                                    amet
                                    voluptatum totam? Enim culpa ea provident eius!</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </section>
        
        
    </section>
    </div>
 
        <!--JS and Jquery-->
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
</body>

</html>